* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-image: url(../images/pexels-photo-831889.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.center-heading {

}

.center {
    text-align: center;
}

.game {
    background-repeat: no-repeat;
    background-position: center; 
    color: red;
    opacity: 0.6;
    width: 20em;
    margin: 49px auto;
    padding: 20px;
}

@media screen and (max-height )