* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-image: url(../images/pexels-photo-831889.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.center-heading {

}

.center {
    text-align: center;
}

.game {
    background-repeat: no-repeat;
    background-position: center; 
    color: white;
    opacity: 0.6;
    width: 20em;
    margin: 49px auto;
    padding: 20px;
}

.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }