* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.psychic-heading {
    text-align: center;
}

.game-score {
    text-align: center;
}

img {
    height: 300px;
}

.glass-ball {
    text-align: center;
}

h1 {
    font-family: 'Inconsolata', monospace;
}

p, #instructions {
    font-family: 'VT323', monospace;
}

#instructions {
    font-size: 2em;
}

p {
    font-size: 20px;
}
